<?xml version="1.0" encoding="UTF-8"?>
<infrared>
	<receivers>
		<ip port="69005">
			<address prefix="0.0.0.0/0" />
		</ip>
		<com port="COM5" />
	</receivers>
	<operations>
		<operation>
			<triggers>
				<single-code value="41236670" />
			</triggers>
			<action command="osd.showmessage">
				<param name="text" value="Test" />
			</action>
		</operation>
	</operations>
</infrared>